<!--<nav class="subnav" [clr-nav-level]="2">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="CostingMain">成本首页</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="CostingProjectCompare">成本间项目对比</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="CostingFeeAnalysis">各项目费用情况分析</a>
    </li>
  </ul>
</nav>-->
<router-outlet></router-outlet>