<h2 class="center">{{area}}{{month}}销售情况表</h2>
<clr-datagrid>
    <clr-dg-column>楼盘名称</clr-dg-column>
    <clr-dg-column>计划销售额 （万元</clr-dg-column>
    <clr-dg-column>实际销售套数（套</clr-dg-column>
    <clr-dg-column>实际销售面 积（㎡）</clr-dg-column>
    <clr-dg-column>实际销售金额（万元）</clr-dg-column>
    <clr-dg-column>完成率</clr-dg-column>

    <clr-dg-row *clrDgItems="let data of datas; let i = index; let isLast=last" [ngClass]="{'row-background': i%2==1,'row-last':isLast}">
        <clr-dg-cell (click)="show(i)">{{data.vBuildName}}</clr-dg-cell>
        <clr-dg-cell>{{data.nPlan}}</clr-dg-cell>
        <clr-dg-cell>{{data.nNum}}</clr-dg-cell>
        <clr-dg-cell>{{data.nArea}}</clr-dg-cell>
        <clr-dg-cell>{{data.nMoney}}</clr-dg-cell>
        <clr-dg-cell>{{data.nMoney/data.nPlan | ratePipe}}</clr-dg-cell>
    </clr-dg-row>
</clr-datagrid>