<button class="btn btn-primary" (click)="modalsOpened = true">添加角色</button>
<clr-modal [(clrModalOpen)]="modalsOpened" [clrModalClosable]="false" [clrModalSize]="lg">
    <h3 class="modal-title">添加角色</h3>
    <div class="modal-body">
        <form (ngSubmit)="onSubmit()">
            <section class="form-block">
                <div class="form-group">
                    <label for="roleName">角色名称：</label>
                    <input type="text" id="roleName" name="roleName" [(ngModel)]="role.roleName" placeholder="输入角色名称" size="45" required>
                </div>
                <div class="form-group">
                    <label for="descriptions">角色描述：</label>
                    <input type="text" id="descriptions" name="descriptions" [(ngModel)]="role.descriptions" placeholder="输入角色的描述" size="45" required>
                </div>
            </section>
            <div class="progress loop" *ngIf="isProgressShow">
                <progress></progress>
            </div>
            <button type="button" class="btn btn-outline" (click)="modalsOpened = false">取消</button>
            <button type="button" class="btn btn-primary" type="submit">保存</button>
        </form>
    </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="modalsEditOpened" [clrModalClosable]="false" [clrModalSize]="lg">
    <h3 class="modal-title">编辑角色</h3>
    <div class="modal-body">
        <form (ngSubmit)="onSubmitEdit()">
            <section class="form-block">
                <div class="form-group">
                    <label for="roleName">角色名称：</label>
                    <input type="text" id="roleName" name="roleName" [(ngModel)]="role.roleName" placeholder="输入角色名称" size="45" required>
                </div>
                <div class="form-group">
                    <label for="descriptions">角色描述：</label>
                    <input type="text" id="descriptions" name="descriptions" [(ngModel)]="role.descriptions" placeholder="输入角色的描述" size="45" required>
                </div>
            </section>
            <div class="progress loop" *ngIf="isProgressShow">
                <progress></progress>
            </div>
            <button type="button" class="btn btn-outline" (click)="modalsEditOpened = false">取消</button>
            <button type="button" class="btn btn-primary" type="submit">保存</button>
        </form>
    </div>
</clr-modal>

<clr-alert [clrAlertType]="'alert-success'" *ngIf="isAlertShow">
    <div class="alert-item">
        <span class="alert-text">
            {{message}}
        </span>
    </div>
</clr-alert>
<clr-alert [clrAlertType]="'alert-error'" *ngIf="isErrorAlertShow">
    <div class="alert-item">
        <span class="alert-text">
            {{errormessage}}
        </span>
    </div>
</clr-alert>

<clr-datagrid>
    <clr-dg-column>ID</clr-dg-column>
    <clr-dg-column>角色名称</clr-dg-column>
    <clr-dg-column>描述</clr-dg-column>

    <clr-dg-row *clrDgItems="let r of Roles" [clrDgItem]="r">
        <clr-dg-action-overflow>
            <button class="action-item" (click)="onEdit(r)">编辑</button>
            <button class="action-item" (click)="onDelete(r)">删除</button>
        </clr-dg-action-overflow>
        <clr-dg-cell>{{r.rId}}</clr-dg-cell>
        <clr-dg-cell>{{r.roleName}}</clr-dg-cell>
        <clr-dg-cell>{{r.descriptions}}</clr-dg-cell>
    </clr-dg-row>
</clr-datagrid>