.gtid-th td{
    border-right: 1px solid #ccc;
    background-color: #4E80BD;
    color: #fff;
    vertical-align: middle;
}
.gtid-th .span{
    background-image:none;
}
.table{
    border:none;
}
.table td{
    min-width:100px;
    max-width:100px;
    font-size: 8pt;
}
.treegrid-indent {
    width: 10px;
    height: 10px;
}
.num-button{
    color:#fff;
    background-color:#0F1E82;
}
.tablebody{
    border:none; 
    height: 60vh;
    display: inline-block;    
    overflow-y: scroll;
    overflow-x: hidden;
}
.background-blue{
    background-color:#89CBDF;
}
.background-red{
    background-color:#EBAFA6;
}
.card-text{
    font-size: 8pt
}
.header-table th{
         border-right: none; 
     color: #565656; 
}
.swiper-slide td{
    font-size: 16px;
    color:#E46C0A;
    font-weight: 600;
}
.modal-body th{
    font-size:16px;
}
#SumDetail td{
    font-size:16px;
        color:#E46C0A;
    font-weight: 600;
}
