<!--<div class="long-title"><h3>Sales Amount by Region</h3></div>
<dx-pivot-grid id="sales"
  [allowSortingBySummary]="true"
  [allowSorting]="true"
  [allowFiltering]="true"
  [allowExpandAll]="true"
  [showBorders]="true"
  (onCellPrepared)="onCellPrepared($event)"
  [texts] = "{grandTotal:'合计'}"
  [dataSource]="dataSource">
  <dxo-field-chooser [enabled]="false"></dxo-field-chooser>
</dx-pivot-grid>-->

<!--<p-treeTable [value]="datas" *ngIf="datas">
    <p-column field="velemcode" header="成本科目编码"></p-column>
    <p-column field="velemname" header="成本科目名称"></p-column>
    <p-column field="cs24Orprices" header="原始目标成本"></p-column>
    <p-column field="cs24FinllyPrice" header="执行版目标成本"></p-column>
    <p-column field="nsalearea" header="执行版可售单方"></p-column>

    <p-column field="velemname" header="原始目标成本"></p-column>
</p-treeTable>-->


<div class="row">
  <div class="col-sm-12" style="padding:0;">
    <table class="tree table" #tree style="display:block; overflow:scroll">
      <thead style="display: inline-block;">
        <tr class="treegrid-0 gtid-th">
          <td rowspan="2" style="text-align:left;min-width:114px;max-width:114px">成本科目编码</td>
          <td rowspan="2" style="width:100px">成本科目名称</td>
          <td colspan="4" style="text-align:center">详细目标成本</td>
          <td colspan="3" style="text-align:center">已发生费用成本</td>
          <td style="text-align:center">待发生成本</td>
          <td rowspan="2">动态成本</td>
          <td rowspan="2" style="min-width:60px;max-width:60px">建筑单方</td>
          <td rowspan="2" style="min-width:60px;max-width:60px">可售单方</td>
          <td rowspan="2">节余</td>
          <td rowspan="2" style="min-width:40px;max-width:40px">节余率</td>
        </tr>
        <tr class="gtid-th">
          <td>原始目标成本</td>
          <td>执行版目标成本</td>
          <td style="min-width:60px;max-width:60px">执行版可售单方</td>
          <td style="min-width:60px;max-width:60px">执行版建筑单方</td>
          <td>已发生合同成本</td>
          <td>已发生费用成本</td>
          <td>合同变更签证成本汇总</td>
          <td>待发生合同费用</td>
        </tr>
      </thead>
      <tbody style="border:none; height: 500px;display: inline-block;    overflow-y: scroll;
    overflow-x: hidden;" *ngIf="datas">
        <tr *ngFor="let data of datas; let i = index; let isLast=last" [ngClass]="{'row-background': i%2==1}" class="treegrid-{{data.velemcode}} treegrid-parent-{{data.fathercode}}">
          <td style="text-align:left;min-width:114px;max-width:114px;font-size:7pt">{{data.velemcode}}</td>
          <td style="text-align:left;" *ngIf="data.isLastChild&&data.dtnnrpelembusinmy-data.nmnysum3!=0&&data.dtnnrpelembusinmy!=0" class="num-button" (click)="getDetial()">
              {{data.velemname}}
          </td>
          <td style="text-align:left;" *ngIf="!(data.isLastChild&&data.dtnnrpelembusinmy-data.nmnysum3!=0&&data.dtnnrpelembusinmy!=0)" class="">
              {{data.velemname}}
          </td>
          <td>{{data.cs24Orprices | number:'.0-1' }}</td>
          <td>{{data.nmnysum3 | number:'.0-1' }}</td>
          <td style="min-width:60px;max-width:60px">{{data.nmnysum3/data.nsalearea | number:'.0-1'}}</td>
          <td style="min-width:60px;max-width:60px">{{data.nmnysum3/data.nbuildarea | number:'.0-1'}}</td>
          <td>{{data.nmnyb3 | number:'.0-1'}}</td>
          <td>{{data.nmnya3 | number:'.0-1'}}</td>
          <td>{{data.qzcontactcosttol | number:'.0-1'}}</td>
          <td>{{data.nrpelembusinmy | number:'.0-1' }}</td>
          <td>{{data.dtnnrpelembusinmy | number:'.0-1'}}</td>
          <td style="min-width:60px;max-width:60px">{{data.dtnnrpelembusinmy/data.nbuildarea | number:'.0-1'}}</td>
          <td style="min-width:60px;max-width:60px">{{data.dtnnrpelembusinmy/data.nsalearea | number:'.0-1'}}</td>
          <td>{{data.dtnnrpelembusinmy - data.nmnysum3 | number:'.0-1'}}</td>
          <td style="min-width:40px;max-width:40px">{{(data.dtnnrpelembusinmy - data.nmnysum3)/data.nmnysum3 | ratePipe:'1.0-2'}}</td>
        </tr>
      </tbody>

    </table>
  </div>