<div class="myslides" *ngIf="datas">
  <!--<div class="slider-header">{{area}}</div>-->

  <nav class="subnav">
    <ul class="nav">
      <li class="nav-item" *ngFor="let area of slideNavDatas;let i =index"><a class="nav-link" [ngClass]="{'active':i==slideNavActiveIndex}" (click)="moveTo(area.startIndex)">{{area.name}}</a></li>
      <li>
        <clr-tooltip [clrTooltipDirection]="'bottom-left'" aria-haspopup="true" [clrTooltipSize]="'lg'">
          <clr-icon shape="help" size="14"></clr-icon>
          <clr-tooltip-content>
            <span>
              目标成本：原目标成本<br>
              动态成本:	<br>（已发生合同+费用成本+合同变更签证）+待发生规划余量<br>
              偏差额:	项目动态成本-原目标成本<br>
              偏差率:	（项目动态成本-原目标成本）/ 原目标成本<br>
              可售单方:	动态可售单方=项目动态成本/项目可售面积<br>
              建筑单方:	动态建筑单方=项目动态成本/项目建筑面积<br>
              红绿灯：【绿灯】：动态成本正常；<br>
              【红灯】：动态成本超控；<br>
              【黄色】：目标成本未审批
            </span>
          </clr-tooltip-content>
        </clr-tooltip>
      </li>
    </ul>
  </nav>

  <ks-swiper-container [options]="example1SwipeOptions" class="cb-slide">
    <ks-swiper-slide class="col-md-3" *ngFor="let card of datas; let i=index" style="padding-bottom:60px;padding-top:0px;margin-top:0px;">
      <h2 name="area" style="display:none;">{{card.area}}</h2>
      <a class="card clickable" style="margin-bottom: 20px;" (click)="goDtTable(card.unitname,card.vname)">
        <div class="card-block ">
          {{card.vname}}
        </div>
        <div style="text-align:center;width:100%">{{card.unitname}}</div>
        <div class="card-img">
          <img src="images/picture_{{i}}.png" onerror="if (this.src != 'error.jpg') this.src = 'images/picture_0.png';">
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item" [ngClass]="{
          'rate-red': ((card.dtnnrpelembusinmy/10000-card.nmnysum3)/card.nmnysum3>0.02 || (card.dtnnrpelembusinmy/10000-card.nmnysum3)/card.nmnysum3<-0.2) && card.nmnysum3 !=0,
          'rate-orange':  0.02 >= (card.dtnnrpelembusinmy/10000-card.nmnysum3)/card.nmnysum3 && (card.dtnnrpelembusinmy/10000-card.nmnysum3)/card.nmnysum3 >= 0,
          'rate-green': 0 >(card.dtnnrpelembusinmy/10000-card.nmnysum3)/card.nmnysum3 && (card.dtnnrpelembusinmy/10000-card.nmnysum3)/card.nmnysum3 >=-0.2,
          'rate-gray':card.nmnysum3 ==0
          }"
            [ngSwitch]="card.nmnysum3">
            <div *ngSwitchDefault>
              <div>偏差率 {{(card.dtnnrpelembusinmy/10000 -card.nmnysum3 )/card.nmnysum3 | percent:'1.1-2'}} &nbsp; 
                <!--(原始版 {{ (card.nmnysum1!=null?(card.nmnysum1-card.dtnnrpelembusinmy)/card.nmnysum1 : 0) | percent:'1.1-2'}})-->
              </div>
            </div>
            <div *ngSwitchCase="0">
              <div>偏差率 - &nbsp; 
                <!--(原始版 {{ (card.nmnysum1==null?0:((card.nmnysum1-card.dtnnrpelembusinmy)/card.nmnysum1)) | percent:'1.1-2'}})-->
              </div>
            </div>
          </li>
          <li class="list-group-item" style="background-color:#f5f5f5" [ngSwitch]="card.nmnysum3">
            <div *ngSwitchDefault>目标成本 {{card.nmnysum3 | number:'.0-0'}} 万</div>
            <div *ngSwitchCase="0">目标成本 -</div>
          </li>
          <li class="list-group-item" style="background-color:#FFFFFF" [ngSwitch]="card.dtnnrpelembusinmy">
            <div *ngSwitchDefault> 动态成本 {{card.dtnnrpelembusinmy/10000 | number:'.0-0'}} 万</div>
            <div *ngSwitchCase="0"> 动态成本 -</div>
          </li>
          <li class="list-group-item" style="background-color:#f5f5f5">偏差额 {{card.nmnysum3 - card.dtnnrpelembusinmy/10000 | number:'.0-0'}} 万</li>
          <li class="list-group-item" style="background-color:#FFFFFF">可售单方 {{card.dtnnrpelembusinmy/card.nsalearea | number:'.0-0'}} 元</li>
          <li class="list-group-item" style="background-color:#FFFFFF">装修可售单方 - 元</li>
          <li class="list-group-item" style="background-color:#f5f5f5">建筑单方 {{card.dtnnrpelembusinmy/card.nbuildarea | number:'.0-0'}} 元</li>
        </ul>
      </a>
    </ks-swiper-slide>
  </ks-swiper-container>
</div>

<div class="row ac-breakline phone-breakline">
  <div>　</div>
</div>
<!--柱状图-->
<dx-chart *ngIf="chartDatas" id="chart" [title]="{ 
          text: '各项目动态成本单方对比分析',
          font: {
                family: '微软雅黑',
                size: 20,
                weight: 400
            }
         }" [dataSource]="chartDatas" pathModified="ture" [scrollingMode]="mode" [zoomingMode]="mode" (onPointClick)="columnClick($event)"
  style="height:90vh">
  <dxi-series valueField="salse" name="可售单方(元)"></dxi-series>
  <dxi-series valueField="build" name="建筑单方(元)"></dxi-series>
  <dxo-tooltip [enabled]="true" [customizeTooltip]="columnTooltip">
  </dxo-tooltip>
  <dxo-common-series-settings argumentField="vname" type="bar" hoverMode="allArgumentPoints" selectionMode="allArgumentPoints">
    <dxo-label [visible]="true" [format]="{
                type: 'fixedPoint',
                precision: ''
            }" [font]="{ color: '#000000'}" backgroundColor="transparent">
    </dxo-label>
  </dxo-common-series-settings>
  <dxo-argument-axis>
    <dxo-label>
      <dxo-overlapping-behavior mode="rotate" [rotationAngle]="40">
      </dxo-overlapping-behavior>
    </dxo-label>
  </dxo-argument-axis>
  <dxo-legend verticalAlignment="top" horizontalAlignment="center">
  </dxo-legend>
</dx-chart>

<div class="row ac-breakline phone-breakline" style="margin-top:20px">
  <div>　</div>
</div>

<div class="row" style="height:90vh">
  <div class="col-sm-12">
    <nav class="subnav">
      <ul class="nav">
        <div>
          <clr-dropdown [clrMenuPosition]="'bottom-right'">
            <button class="dropdown-toggle btn btn-link" clrDropdownToggle>
           <label>板块：</label>{{unitName}}
            <clr-icon shape="caret down"></clr-icon>
          </button>
            <div class="dropdown-menu">
              <a clrDropdownItem *ngFor="let unitname of unitNames; let i = index" (click)="onSelectUnit(unitname)">{{i+1}}:{{unitname}}</a>
            </div>
          </clr-dropdown>
        </div>
        <div>
          <clr-dropdown [clrMenuPosition]="'bottom-right'">
            <button class="dropdown-toggle btn btn-link" clrDropdownToggle>
              <label>项目：</label>{{vName}}
            <clr-icon shape="caret down"></clr-icon>
          </button>
            <div class="dropdown-menu">
              <a clrDropdownItem *ngFor="let vname of vNames; let i = index" (click)="onSelectProject(vname)">{{i+1}}:{{vname}}</a>
            </div>
          </clr-dropdown>
        </div>
        <div (click)="goDtTable(unitName,vName)">
          <button class="btn btn-primary btn-sm"> <clr-icon shape="plus-circle" class="is-inverse"></clr-icon>查看动态成本</button>
        </div>
        <clr-tooltip [clrTooltipDirection]="'bottom-left'" aria-haspopup="true" [clrTooltipSize]="'lg'">
          <clr-icon shape="help" size="18"></clr-icon>
          <clr-tooltip-content><span>
              饼图:	<br>
              选择项目后展示了该项目动态成本中主要费用各自占比情况<br>
              明细表:	统计了该项目主要费用的金额以及单方数据<br>
              横向柱图:	点击饼图区域，<br>
              展示该费用在各项目动态成本中所占单方的对比情况
              </span></clr-tooltip-content>
        </clr-tooltip>
      </ul>
    </nav>
  </div>
  <div class="col-sm-6" #colRight>
    <!--饼图-->
    <div class="row">
      <div class="col-sm-12">
        <dx-pie-chart id="pie" pathModified="ture" palette="bright" [dataSource]="gcfxPieDatas" (onPointClick)="piePointClick($event)"
          [resolveLabelOverlapping]="resolveOverlappingTypes[0]" *ngIf="gcfxDatas" style="height:40vh">
          <dxo-title text="{{vName}}动态成本构成分析">
            <dxo-font size="20" weight="400" family="微软雅黑"></dxo-font>
          </dxo-title>
          <dxi-series argumentField="typeName2" valueField="dtnnrpelembusinmy">
            <dxo-label [visible]="true" position="column" [radialOffset]="-20" [format]="{
                            type: 'percent',
                            precision: '0'
                        }" [customizeText]="customizeLabel">
              <dxo-connector [visible]="true" [width]="1"></dxo-connector>
            </dxo-label>
          </dxi-series>
          <dxo-tooltip [enabled]="true" [customizeTooltip]="pieTooltip">
          </dxo-tooltip>
          <dxo-legend horizontalAlignment="center" verticalAlignment="bottom">
          </dxo-legend>
        </dx-pie-chart>
      </div>
      <div class="col-sm-12">
        <table class="table">
          <thead>
            <tr>
              <th>费用科目</th>
              <th>动态成本金额（元）</th>
              <th>费用科目建筑单方（元）</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of gcfxDatas; let i = index; let isLast=last" [ngClass]="{'row-background': i%2==1,'row-last':isLast}">
              <td style="text-align:left">{{data.typeName2}}</td>
              <td style="text-align:right">{{data.dtnnrpelembusinmy | number:'1.2-2'}}</td>
              <td style="text-align:right">{{data.nbuildarea | number:'1.2-2'}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!--柱状图-->
  <div class="col-sm-6" *ngIf="JzdfDatas">
    <dx-chart id="chart" pathModified="ture" [dataSource]="JzdfDatas" [rotated]="true" style="height:100%">
      <dxo-size [height]="chatHeight"></dxo-size>
      <dxo-title text="集团主要项目{{typeName}}的建筑单方对比分析">
        <dxo-font size="20" weight="400" family="微软雅黑"></dxo-font>
      </dxo-title>
      <dxi-series valueField="jzdf" name="建筑单方"></dxi-series>
      <dxo-common-series-settings argumentField="vname" type="bar" hoverMode="allArgumentPoints" selectionMode="allArgumentPoints">
        <dxo-label [visible]="true" [format]="{
                type: 'fixedPoint',
                precision: '0'
            }">
        </dxo-label>
      </dxo-common-series-settings>
      <dxo-legend verticalAlignment="bottom" horizontalAlignment="center" [visible]="false">
      </dxo-legend>
      <dxo-tooltip [enabled]="true" location="edge" [customizeTooltip]="columnTooltip">
      </dxo-tooltip>
    </dx-chart>

  </div>
</div>