<clr-main-container>
   <clr-header class="header-6">
    <div class="branding">
      <a class="nav-link">
        <clr-icon shape="network" class="is-inverse"></clr-icon>
        <span class="title">总裁桌面</span>
      </a>
    </div>
      <div class="header-nav" [clr-nav-level]="1">
      <a class="nav-link" routerLinkActive="active" routerLink="Marketing" *ngIf="checkRightService.marketingRight" (click)="baseDataService.clickMarketing(checkRightService.userInfo._displayName)"><span class="nav-text">营销主题</span></a>
      <a class="nav-link" routerLinkActive="active" routerLink="Costing" *ngIf="checkRightService.costingRight" (click)="baseDataService.clickCosting(checkRightService.userInfo._displayName)"><span class="nav-text">房产成本主题</span></a>
      <a class="nav-link" routerLinkActive="active" routerLink="Tendering" *ngIf="checkRightService.tenderRight" (click)="baseDataService.clickTendering(checkRightService.userInfo._displayName)"><span class="nav-text">招采主题</span></a>
      <a class="nav-link" routerLinkActive="active" routerLink="HumanResources" *ngIf="checkRightService.hrRight" (click)="baseDataService.clickHumanResources(checkRightService.userInfo._displayName)"><span class="nav-text">人力主题</span></a>
      <a class="nav-link" routerLinkActive="active" routerLink="Property" *ngIf="checkRightService.propertyRight" (click)="baseDataService.clickProperty(checkRightService.userInfo._displayName)"><span class="nav-text">物业主题</span></a>
      <a class="nav-link" routerLinkActive="active" routerLink="Management" *ngIf="checkRightService.managermentRight" (click)="baseDataService.clickManagement(checkRightService.userInfo._displayName)"><span class="nav-text">系统设置</span></a>
    </div>
    <div class="header-actions">
      <a (click)="navGoBack()" class="nav-link nav-text" style="color: #FFF899">
       <返回
      </a>
       <clr-dropdown clrMenuPosition="bottom-right" *ngIf="checkRightService.userInfo">
            <button class="nav-icon" clrDropdownToggle>
                <clr-icon shape="user"></clr-icon>
                <clr-icon shape="caret down"></clr-icon>
            </button>
            <clr-dropdown-menu>
               <h4 class="dropdown-header">{{checkRightService.userInfo._displayName}}</h4>
                
                <a [routerLink]="['']" (click)="logOut()" clrDropdownItem>注销</a>
            </clr-dropdown-menu>
        </clr-dropdown>
    </div>
  </clr-header>
   <!--<nav class="subnav" [clr-nav-level]="2">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link">营销主题</a>
      </li>
    </ul>
  </nav>-->
  <div class="content-container">
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>

  </div>
          
</clr-main-container>