<h2 class="center">集团总余货情况统计表</h2>

<dx-data-grid #grid 
      style="height:76vh"
      id="gridContainer"
      [showColumnLines]="true"
      [showRowLines]="true"
      [showBorders]="true"
      [rowAlternationEnabled]="true"
      [dataSource]="datas"
      [allowColumnReordering]="false"
      [allowColumnResizing]="false"
      [wordWrapEnabled]="true"
      [columnAutoWidth]="true"
      (onRowClick)= "goProject($event)"
      rowTemplate="zyhTemplate"
      [scrolling]="{mode: 'virtual',useNative: true}"
      >

      <dxi-column  caption="区域" dataField="vBuname"></dxi-column>
      <dxi-column  caption="类别" dataField="vType"></dxi-column>

      <dxi-column  caption="余货总货量（货值）①+②+③+④">
        <dxi-column  caption="余货总套数（套）" dataField="nYcznum"></dxi-column>
        <dxi-column  caption="余货总面积（㎡）" dataField="nYczarea" ></dxi-column>
        <dxi-column  caption="市场预估总货值(万)" dataField="nYczmoney"></dxi-column>
      </dxi-column>
      <dxi-column  caption="已出证余货货量货值【可售+销控】=①+②">
        <dxi-column  caption="余货总套数（套）" dataField="nYcznum"></dxi-column>
        <dxi-column  caption="余货总面积（㎡）" dataField="nYczarea" ></dxi-column>
        <dxi-column  caption="市场预估总货值(万)" dataField="nYczmoney"></dxi-column>
      </dxi-column>
      <dxi-column  caption="已推未售可售货量货值（已出证）①">
        <dxi-column  caption="余货总套数（套）" dataField="nYcznum"></dxi-column>
        <dxi-column  caption="余货总面积（㎡）" dataField="nYczarea" ></dxi-column>
        <dxi-column  caption="市场预估总货值(万)" dataField="nYczmoney"></dxi-column>
      </dxi-column>
      <dxi-column  caption="明源系统 销控单位②">
          <dxi-column  caption="销控货量">
            <dxi-column caption="套数（套）" dataField="nYtwsnum" ></dxi-column>
            <dxi-column caption="面积（㎡）" dataField="nYtwsarea"></dxi-column>
          </dxi-column>
          <dxi-column  caption="A：样板房销控">
            <dxi-column caption="套数（套）" dataField="nYtwsnum" ></dxi-column>
            <dxi-column caption="面积（㎡）" dataField="nYtwsarea"></dxi-column>
          </dxi-column>
          <dxi-column  caption="B：谭总/E类销控">
            <dxi-column caption="套数（套）" dataField="nYtwsnum" ></dxi-column>
            <dxi-column caption="面积（㎡）" dataField="nYtwsarea"></dxi-column>
          </dxi-column>
          <dxi-column  caption="C：带花园/带露台/夹层/首层/顶层销控">
            <dxi-column caption="套数（套）" dataField="nYtwsnum" ></dxi-column>
            <dxi-column caption="面积（㎡）" dataField="nYtwsarea"></dxi-column>
          </dxi-column>
          <dxi-column  caption="D：超面积(含层高不明确）销控">
            <dxi-column caption="套数（套）" dataField="nYtwsnum" ></dxi-column>
            <dxi-column caption="面积（㎡）" dataField="nYtwsarea"></dxi-column>
          </dxi-column>
          <dxi-column  caption="E：销售中心/幼儿园/物业管理用房/办公室/电费/注册地址等销控">
            <dxi-column caption="套数（套）" dataField="nYtwsnum" ></dxi-column>
            <dxi-column caption="面积（㎡）" dataField="nYtwsarea"></dxi-column>
          </dxi-column>
          <dxi-column  caption="F：销售节点销控（含已出证未推售/厕所单位/置换房/查封）">
            <dxi-column caption="套数（套）" dataField="nYtwsnum" ></dxi-column>
            <dxi-column caption="面积（㎡）" dataField="nYtwsarea"></dxi-column>
          </dxi-column>
      </dxi-column>
      <dxi-column  caption="未确权车位/出证时间待定产品③">
        <dxi-column  caption="套数（套）" dataField="nYcznum"></dxi-column>
        <dxi-column  caption="面积（㎡）" dataField="nYczarea" ></dxi-column>
        <dxi-column  caption="货值(万)" dataField="nYczmoney"></dxi-column>
      </dxi-column>
      <dxi-column  caption="3个月内达预售节点④（含已出证暂未建明源房间资料）">
        <dxi-column  caption="套数（套）" dataField="nYcznum"></dxi-column>
        <dxi-column  caption="面积（㎡）" dataField="nYczarea" ></dxi-column>
        <dxi-column  caption="货值(万)" dataField="nYczmoney"></dxi-column>
      </dxi-column>

    <tbody *dxTemplate="let zyh of 'zyhTemplate'">
        <tr class="dx-row main-row" [ngClass]="{'row-background': zyh.rowIndex%2==1}">
            <td>{{zyh.data.vBuname}}</td>
            <td>{{zyh.data.vType}}</td>
            <td>{{zyh.data.nZnum}}</td>
            <td>{{zyh.data.nZarea | round}}</td>
            <td>{{zyh.data.nZmoney | round}}</td>
            <td>{{zyh.data.nYcznum}}</td>
            <td>{{zyh.data.nYczarea | round}}</td>
            <td>{{zyh.data.nYczmoney | round}}</td>
            <td>{{zyh.data.nYtwsnum}}</td>
            <td>{{zyh.data.nYtwsarea | round}}</td>
            <td>{{zyh.data.nYtwsmoney | round}}</td>
            <td>{{zyh.data.nXknum}}</td>
            <td>{{zyh.data.nXkarea | round}}</td>
            <td>{{zyh.data.nXkanum}}</td>
            <td>{{zyh.data.nXkaarea | round}}</td>
            <td>{{zyh.data.nXkbnum}}</td>
            <td>{{zyh.data.nXkbarea | round}}</td>
            <td>{{zyh.data.nXkcnum}}</td>
            <td>{{zyh.data.nXkcarea | round}}</td>
            <td>{{zyh.data.nXkdnum}}</td>
            <td>{{zyh.data.nXkdarea | round}}</td>
            <td>{{zyh.data.nXkenum}}</td>
            <td>{{zyh.data.nXkearea | round}}</td>
            <td>{{zyh.data.nXkfnum}}</td>
            <td>{{zyh.data.nXkfarea | round}}</td>
            <td>{{zyh.data.nGhzcwnum}}</td>
            <td>{{zyh.data.nGhzcwarea | round}}</td>
            <td>{{zyh.data.nGhzcwmoney | round}}</td>
            <td>{{zyh.data.nGhzsyksnum}}</td>
            <td>{{zyh.data.nGhzsyksarea | round}}</td>
            <td>{{zyh.data.nGhzsyksmoney | round}}</td>
        </tr>
    </tbody>
    </dx-data-grid>


<!--<div class="table-container">
<table class="table" width="325">
    <thead>
        <tr>
            <th rowspan="3">区域</th>
            <th rowspan="3">类别</th>
            <th rowspan="2" colspan="3" >余货总货量（货值）①+②+③+④</th>
            <th rowspan="2" colspan="3">已出证余货货量货值【可售+销控】=①+②</th>
            <th rowspan="2" colspan="3">已推未售可售货量货值（已出证）①</th>
            <th colspan="14">明源系统 销控单位②</th>
            <th rowspan="2" colspan="3">未确权车位/出证时间待定产品③</th>
            <th rowspan="2" colspan="3">3个月内达预售节点④（含已出证暂未建明源房间资料）</th>
        </tr>
        <tr>
            <th colspan="2">销控货量</th>
            <th colspan="2">A：样板房销控</th>
            <th colspan="2">B：谭总/E类销控</th>
            <th colspan="2">C：带花园/带露台/夹层/首层/顶层销控</th>
            <th colspan="2">D：超面积(含层高不明确）销控	</th>
            <th colspan="2">E：销售中心/幼儿园/物业管理用房/办公室/电费/注册地址等销控	</th>
            <th colspan="2">F：销售节点销控（含已出证未推售/厕所单位/置换房/查封）</th>
        </tr>
        <tr>
            <th>余货总套数（套）</th>
            <th>余货总面积（㎡）</th>
            <th>市场预估总货值(万)</th>
            <th>余货总套数（套）</th>
            <th>余货总面积（㎡）</th>
            <th>市场预估总货值(万)</th>
            <th>余货总套数（套）</th>
            <th>余货总面积（㎡）</th>
            <th>市场预估总货值(万)</th>
            <th>套数（套）</th>
            <th>面积（㎡）</th>
            <th>套数（套）</th>
            <th>面积（㎡）</th>
            <th>套数（套）</th>
            <th>面积（㎡）</th>
            <th>套数（套）</th>
            <th>面积（㎡）</th>
            <th>套数（套）</th>
            <th>面积（㎡）</th>
            <th>套数（套）</th>
            <th>面积（㎡）</th>
            <th>套数（套）</th>
            <th>面积（㎡）</th>
            <th>套数（套）</th>
            <th>面积（㎡）</th>
            <th>货值（万）</th>
            <th>套数（套）</th>
            <th>面积（㎡）</th>
            <th>货值（万）</th>
        </tr>
        

    </thead>
    <tbody *ngFor="let data of datas; let mainLast=last">
        <tr *ngFor="let items of data.zyhListTemp; let i = index; let isLast=last" [ngClass]="{'row-last':mainLast}">
            <td *ngIf="i==0" [attr.rowspan]="data.zyhListTemp.length">{{data.vBuname}}</td>
            <td>{{items.vType}}</td>
            <td>{{items.nZnum}}</td>
            <td>{{items.nZarea}}</td>
            <td>{{items.nZmoney}}</td>
            <td>{{items.nYcznum}}</td>
            <td>{{items.nYczarea}}</td>
            <td>{{items.nYczmoney}}</td>
            <td>{{items.nYtwsnum}}</td>
            <td>{{items.nYtwsarea}}</td>
            <td>{{items.nYtwsmoney}}</td>
            <td>{{items.nXknum}}</td>
            <td>{{items.nXkarea}}</td>
            <td>{{items.nXkanum}}</td>
            <td>{{items.nXkaarea}}</td>
            <td>{{items.nXkbnum}}</td>
            <td>{{items.nXkbarea}}</td>
            <td>{{items.nXkcnum}}</td>
            <td>{{items.nXkcarea}}</td>
            <td>{{items.nXkdnum}}</td>
            <td>{{items.nXkdarea}}</td>
            <td>{{items.nXkenum}}</td>
            <td>{{items.nXkearea}}</td>
            <td>{{items.nXkfnum}}</td>
            <td>{{items.nXkfarea}}</td>
            <td>{{items.nGhzcwnum}}</td>
            <td>{{items.nGhzcwarea | round}}</td>
            <td>{{items.nGhzcwmoney}}</td>
            <td>{{items.nGhzsyksnum}}</td>
            <td>{{items.nGhzsyksarea}}</td>
            <td>{{items.nGhzsyksmoney}}</td>
        </tr>
    </tbody>
</table>
</div>-->