<!--<nav class="subnav" [clr-nav-level]="2">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link">营销主题</a>
    </li>
    <div>
      当前数据年份:
      <clr-dropdown [clrMenuPosition]="'bottom-right'" *ngIf="marketingDatas?.currentDataYear">
        <button class="dropdown-toggle btn btn-link" clrDropdownToggle>
            {{marketingDatas.currentDataYear}}年
            <clr-icon shape="caret down"></clr-icon>
          </button>
        <div class="dropdown-menu">
          <label class="dropdown-header">选择年份</label>
          <a clrDropdownItem *ngFor="let year of marketingDatas.yearList" value="year" (click)="onSelectYear(year)">{{year}}</a>
        </div>
      </clr-dropdown>
    </div>
  </ul>
</nav>-->

<div class="ac-main-content">
  <!--上半部分-->
  <div class="row">
    <!--左-->
    <div class="col-sm-6">
      <!--表格-->
      <div class="row">
        <div class="col-sm-12 col-md-12">
          <div style="text-align: center">
            <h3>销售情况<span>(含认购及签约)
              </span>
              <clr-tooltip [clrTooltipDirection]="'bottom-left'" aria-haspopup="true" [clrTooltipSize]="'md'">
                <clr-icon shape="help" size="18"></clr-icon>
                <clr-tooltip-content><span>从明源销售系统中统计年度月度销售目标以及完成情况的数据。</span></clr-tooltip-content>
              </clr-tooltip>
            </h3>
          </div>
        </div>
        <div class="col-sm-12 col-md-12">
          <table class="table">
            <thead>
              <tr>
                <th class="th-fix-width">时间维度</th>
                <th class="th-25">目标销售额</th>
                <th>实际销售额
                  <clr-tooltip [clrTooltipDirection]="'top-right'" aria-haspopup="true" [clrTooltipSize]="'md'">
                    <clr-icon shape="help" size="18"></clr-icon>
                    <clr-tooltip-content>
                      <span>点击下面表格可下钻到销售明细表</span>
                    </clr-tooltip-content>
                  </clr-tooltip>
                </th>
                <th class="th-auto">完成率</th>
              </tr>
            </thead>
            <tbody class="sales-table">
              <tr>
                <td>{{basicService?.year}}年<br><span class="font-xs">(截止{{basicService?.month}})</span></td>
                <td>{{marketingDatas?.salesStatus?.nYearPlan}}亿</td>
                <td class="num-button" (click)="navTo('MarketDaySell')">{{marketingDatas?.salesStatus?.nYearMoney}}亿</td>
                <td class="left">
                  <div class="progress labeled">
                    <progress max="100" [value]="marketingDatas?.salesStatus?.nYearpercent" data-displayval="60%"></progress>
                    <span>{{marketingDatas?.salesStatus?.nYearMoney/marketingDatas?.salesStatus?.nYearPlan | percent:'1.0-0'}}</span>
                  </div>
                </td>
              </tr>
              <tr>
                <td>{{basicService?.month}}</td>
                <td>{{marketingDatas?.salesStatus?.nMonthPlan}}亿</td>
                <td class="num-button" (click)="navToArg('MarketingMonthArea',month)">{{marketingDatas?.salesStatus?.nMonthMoney}}亿</td>
                <td class="left">
                  <div class="progress labeled">
                    <progress max="100" [value]="marketingDatas?.salesStatus?.nMonthPrecent" data-displayval="29%"></progress>
                    <span>{{marketingDatas?.salesStatus?.nMonthMoney/marketingDatas?.salesStatus?.nMonthPlan | percent:'1.0-0'}}</span>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!---->
      <div class="row row-break">
        <div class="col-xs-7 break-line-right">
          <h4 class="h2-title">{{marketingDatas?.salesDates?.nDaySalesTime | date:"M"}}月{{marketingDatas?.salesDates?.nDaySalesTime | date:"d"}}日销售
            <span class="num-button" (click)="navTo('MarketingDayArea')">{{marketingDatas?.salesStatus?.nDaySales}}万元</span>
            <clr-tooltip [clrTooltipDirection]="'top-right'" aria-haspopup="true" [clrTooltipSize]="'md'">
              <clr-icon shape="help" size="18"></clr-icon>
              <clr-tooltip-content>
                <span>从明源系统统计当日所有项目销售数据，每1小时刷新一次最新数据</span>
              </clr-tooltip-content>
            </clr-tooltip>
            <div class="memo">
              <label>最近一次获取数据时间：
                        {{marketingDatas?.salesDates?.nDaySalesTime | date:"dd"}}日
                        {{marketingDatas?.salesDates?.nDaySalesTime | date:"HH"}}:
                        {{marketingDatas?.salesDates?.nDaySalesTime | date:"mm"}}
              </label>
            </div>
          </h4>
          <h4 class="h2-title">{{basicService?.month}}营销费用 <span class="num-button" (click)="navTo('MarketingMonthFee')">{{marketingDatas?.yxFee}}万元</span>
            <clr-tooltip [clrTooltipDirection]="'top-right'" aria-haspopup="true" [clrTooltipSize]="'md'">
              <clr-icon shape="help" size="18"></clr-icon>
              <clr-tooltip-content>
                <span>统计本月截止当日已入NC财务账的营销费相关科目的金额（实际已支付的营销费用）。</span>
              </clr-tooltip-content>
            </clr-tooltip>

          </h4>

        </div>
        <div class="col-xs-5">
          <h4 class="h2-title">{{basicService?.month}}回款 <span class="num-button" (click)="navTo('MarketingYearBack')">{{marketingDatas?.hkMonth}}亿</span>
            <clr-tooltip [clrTooltipDirection]="'top-right'" aria-haspopup="true" [clrTooltipSize]="'md'">
              <clr-icon shape="help" size="18"></clr-icon>
              <clr-tooltip-content>
                <span>从明源销售系统中统计年度月度销售回款（未回款）的情况。</span>
              </clr-tooltip-content>
            </clr-tooltip>
            <div class="memo">
              <label> 　
                      </label>
            </div>
          </h4>
          <h4 class="h2-title">年回款 <span class="num-button" (click)="navTo('MarketingYearBack')">{{marketingDatas?.hkYear}}亿</span>
            <clr-tooltip [clrTooltipDirection]="'top-right'" aria-haspopup="true" [clrTooltipSize]="'md'">
              <clr-icon shape="help" size="18"></clr-icon>
              <clr-tooltip-content>
                <span>点击数字查看集团回款明细表</span>
              </clr-tooltip-content>
            </clr-tooltip>
          </h4>
        </div>
      </div>
      <div class="row ac-breakline phone-breakline">
        <div>　</div>
      </div>
    </div>
    <!--右 柱状图-->
    <div class="col-sm-6 " *ngIf="marketingDatas">
      <!--<columnchart [data]="columnChartData" ></columnchart>-->
      <dx-chart id="chart" [title]="{ 
          text: '销售柱图（按月份) ',
          font: {
                family: '微软雅黑',
                size: 20,
                weight: 400
            }
         }" [dataSource]="chartData" (onPointClick)="onPointClick($event)" pathModified="ture" style="height:40vh">
        <dxi-series valueField="nPlan" name="计划金额（亿元）"></dxi-series>
        <dxi-series valueField="nMoney" name="销售金额（亿元）"></dxi-series>
        <dxo-common-series-settings argumentField="vMm" type="bar" hoverMode="allArgumentPoints" selectionMode="allArgumentPoints">
          <dxo-label [visible]="true" [format]="{
                type: 'fixedPoint',
                precision: '1'
            }" [font]="{ color: '#000000'}" backgroundColor="transparent" [showForZeroValues]="false">
          </dxo-label>
        </dxo-common-series-settings>
        <dxo-legend verticalAlignment="top" horizontalAlignment="center">
        </dxo-legend>
      </dx-chart>
    </div>
  </div>
  <div class="row ac-breakline">
    <div>　</div>
  </div>
  <!--下半部分-->
  <div class="row">
    <!--左-->
    <div class="col-sm-2">
      <div class="row">
        <div class="col-sm-12">
          <div style="text-align: center">
            <h3>总余货
              <clr-tooltip [clrTooltipDirection]="'top-right'" aria-haspopup="true" [clrTooltipSize]="'md'">
                <clr-icon shape="help" size="18"></clr-icon>
                <clr-tooltip-content>
                  <span>集团各项目汇总统计的余货总套数、总面积及预估货值（包含在售、在建及规划在建）。</span>
                </clr-tooltip-content>
              </clr-tooltip>
            </h3>
            <span>(手工填报)</span>
            <div class="row">
              <div class="col-xs-6 col-sm-12 gird-font">
                <div class="yh-title">总套数</div>
              </div>
              <div class="col-xs-6 col-sm-12 gird-font" (click)="navTo('MarketingZyhAreaType')">
                <div class="num-button yh-num">{{marketingDatas?.yhZts}} 套</div>
              </div>
              <div class="col-xs-6 col-sm-12 gird-font">
                <div class="yh-title">总面积</div>
              </div>
              <div class="col-xs-6 col-sm-12 gird-font num-button" (click)="navTo('MarketingZyhAreaType')">
                <div class="num-button yh-num">{{marketingDatas?.yhZmj}} 万m²</div>
              </div>
              <div class="col-xs-6 col-sm-12 gird-font">
                <div class="yh-title">预估货值</div>
              </div>
              <div class="col-xs-6 col-sm-12 gird-font num-button" (click)="navTo('MarketingZyhAreaType')">
                <div class="num-button yh-num">{{marketingDatas?.yhZyghz}} 亿</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--中-->
    <div class="col-sm-7">
      <div class="row">
        <div class="col-sm-12">
          <div style="text-align: center">
            <h3>已取证余货
              <clr-tooltip [clrTooltipDirection]="'top-right'" aria-haspopup="true" [clrTooltipSize]="'md'">
                <clr-icon shape="help" size="18"></clr-icon>
                <clr-tooltip-content>
                  <span>余货中已取得预售证的套数、面积及预估货值（明源系统中房源状态为销控与待售）。
                  </span>
                </clr-tooltip-content>
              </clr-tooltip>
            </h3>
            <div class="row">
              <div class="col-xs-4 gird-font">套数</div>
              <div class="col-xs-4 gird-font">面积²</div>
              <div class="col-xs-4 gird-font">预估货值</div>
            </div>
            <div class="row">
              <div class="col-xs-4 gird-font num-button" (click)="navTo('MarketingQzyhArea/全部')">{{marketingDatas?.qzYhts}}套</div>
              <div class="col-xs-4 gird-font num-button" (click)="navTo('MarketingQzyhArea/全部')">{{marketingDatas?.qzYhmj}}万m²</div>
              <div class="col-xs-4 gird-font num-button" (click)="navTo('MarketingQzyhArea/全部')">{{marketingDatas?.qzYhyghz}}亿</div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-7">
          <table class="table" style="margin-top: 50px;margin-bottom: 20px">
            <thead>
              <tr>
                <th>类型</th>
                <th>套数(套)</th>
                <th>面积(m²)</th>
                <th>预估货值(亿)</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let yhList of marketingDatas?.qzYhSumList; let i = index; let isLast=last" [ngClass]="{'row-background': i%2==1,'row-last':isLast}">
                <td>{{yhList.vType}}</td>
                <td>{{yhList.nYcznum | number:'1.0-0'}}</td>
                <td>{{yhList.nYczarea | number:'1.0-0'}}</td>
                <td>{{yhList.nYczmoney/10000 | number:'1.0-1'}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-sm-5">
          <!--<piechart [data]="marketingDatas?.pieChart" *ngIf="marketingDatas"></piechart>-->
          <dx-pie-chart id="pie" pathModified="ture" palette="bright" [dataSource]="piechartData" (onPointClick)="piePointClick($event)"
            *ngIf="marketingDatas" style="height:38vh">
            <dxi-series argumentField="name" valueField="value">
              <dxo-label [visible]="true" position="inside" [radialOffset]="20" [format]="{
                            type: 'fixedPoint',
                            precision: '0'
                        }" [customizeText]="customizeLabel">
                <dxo-connector [visible]="true" [width]="1"></dxo-connector>
              </dxo-label>

            </dxi-series>
            <dxo-legend horizontalAlignment="center" verticalAlignment="bottom">
            </dxo-legend>
          </dx-pie-chart>
        </div>
      </div>
    </div>
    <!--右-->
    <div class="col-sm-3">
      <div class="col-sm-12 col-md-12">
        <div style="text-align: center">
          销售业绩排行前十
          <clr-tooltip [clrTooltipDirection]="'top-left'" aria-haspopup="true" [clrTooltipSize]="'md'">
            <clr-icon shape="help" size="18"></clr-icon>
            <clr-tooltip-content>
              (含认购及签约)<br>
              <span>统计集团当月销售完成率排行榜前十的项目。
                  </span>
            </clr-tooltip-content>
          </clr-tooltip>
        </div>
      </div>
      <div class="col-sm-12 col-md-12" class="rank">
        <table class="table" style="margin:20 0 20 0;">
          <thead>
            <tr>
              <th class="th-5"></th>
              <th>项目</th>
              <th class="td-button">完成率</th>
            </tr>
          </thead>
          <tbody class="rank-table">
            <tr *ngFor="let rank of marketingDatas?.rankTopTen; let i = index; let isLast=last" [ngClass]="{'row-background': i%2==1}"
              (click)="navTo('MarketingRanking')">
              <td>{{rank?.rank}}</td>
              <td class="num-button">{{rank?.name}}</td>
              <td class="left">
                <div class="progress labeled">
                  <progress max="100" [value]="rank?.rate*100" data-displayval="60%"></progress>
                  <span>{{rank?.rate  | percent:'1.0-0'}}</span>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
  <!--<ac-marketsituationsum #marketsituationsum></ac-marketsituationsum>-->