<loading *ngIf="isLoading"></loading>
<nav class="subnav">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="/Costing/CostingDtcbPorject/{{unitName}}/{{vName}}">项目动态报表</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"  routerLinkActive="active" routerLink="/Costing/CostingHttz/{{unitName}}/{{vName}}">合同台账表</a>
    </li>
    <div>
      <clr-dropdown [clrMenuPosition]="'bottom-right'">
        <button class="dropdown-toggle btn btn-link" clrDropdownToggle>
           <label>板块：</label>{{unitName}}
            <clr-icon shape="caret down"></clr-icon>
          </button>
        <div class="dropdown-menu">
          <a clrDropdownItem *ngFor="let unitname of unitNames; let i = index" (click)="onSelectUnit(unitname)">{{i+1}}:{{unitname}}</a>
        </div>
      </clr-dropdown>
    </div>
    <div>
      <clr-dropdown [clrMenuPosition]="'bottom-right'">
        <button class="dropdown-toggle btn btn-link" clrDropdownToggle>
              <label>项目：</label>{{vName}}
            <clr-icon shape="caret down"></clr-icon>
          </button>
        <div class="dropdown-menu">
          <a clrDropdownItem *ngFor="let vname of vNames; let i = index" (click)="onSelectProject(vname)">{{i+1}}:{{vname}}</a>
        </div>
      </clr-dropdown>
    </div>
  </ul>
</nav>

  <h3 style="text-align:center">{{vName}}</h3>
<table class="table table-noborder summary">
    <tbody>
      <tr>
        <td style="text-align:right;width:15%">项目合同总金额</td>
        <td class="num-button" style="text-align:left;width:15%">{{summary?.ncontbasemny/10000 | number:'.0-2'}}万元</td>
        <td style="text-align:right;width:15%">累计已付款</td>
        <td class="num-button" style="text-align:left;width:15%">{{summary?.npaybasemny/10000 | number:'.0-2'}}万元</td>
        <td style="text-align:right;width:15%">累计未付款</td>
        <td class="num-button" style="text-align:left;width:15%" *ngIf="ljwfSum">{{ljwfSum /10000 | number:'.0-2' }}万元</td>
      </tr>
    </tbody>
</table>
<table class="table">
    <thead>
        <tr>
            <th style="max-width:50px">合同类型</th>
            <th>合同名称</th>
            <th>合同甲方</th>
            <th>合同乙方</th>
            <th>签约时间</th>
            <th>合同总金额/元</th>
            <th>合同结算金额/元</th>
            <th>累计已付款/元</th>
            <th>付款比例</th>
            <th>合同未付款/元</th>
            <th>未付比例</th>
        </tr>
    </thead>
    <tbody *ngFor="let data of datas;let j=index">
        <tr style="max-width:50px" [ngClass]="{'firstcol-background': j%2==1,'seccol-background':j%2!=1}">
            <td [attr.rowspan]="data?.list?.length+1" style=" vertical-align: middle;">{{data?.name}}</td>
        </tr>
        <tr *ngFor="let row of data?.list;trackBy: trackByIndex" [ngClass]="{'row-background': row.index%2==1}">
            <td>{{row.vname2}}</td>
            <td>{{row.custname1}}</td>
            <td>{{row.custname2}}</td>
            <td>{{row.dsigndate}}</td>
            <td>{{row.ncontbasemny | number:'.0-1' }}</td>
            <td>{{row.nsettleorigmny | number:'.0-1' }}</td>
            <td>{{row.npaybasemny | number:'.0-1' }}</td>
            <td [ngSwitch]="row.nsettleorigmny">
              <div *ngSwitchDefault>{{row.npaybasemny/row.nsettleorigmny | percent:'1.0-2'}}</div>
              <div *ngSwitchCase=null>{{row.npaybasemny/row.ncontbasemny | percent:'1.0-2'}}</div>
            </td>
            <td [ngSwitch]="row.nsettleorigmny">
              <div *ngSwitchDefault>{{row.nsettleorigmny - row.npaybasemny | number:'.0-1' }}</div>
              <div *ngSwitchCase=null>{{row.ncontbasemny - row.npaybasemny | number:'.0-1' }}</div>
            </td>
            <td [ngSwitch]="row.nsettleorigmny">
              <div *ngSwitchDefault>{{1-(row.npaybasemny/row.nsettleorigmny) | percent:'1.0-2'}}</div>
              <div *ngSwitchCase=null>{{1-(row.npaybasemny/row.ncontbasemny) | percent:'1.0-2'}}</div>
            </td>
        </tr>
    </tbody>
</table>